/* FIGMA DESIGN LIN: https://www.figma.com/file/ef8Elqv1XLM9QRFZSaKARz/Theme-switch-(Community)?node-id=115%3A204&mode=dev */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.themeChangerContainer{
    margin: 15% auto;
    width: 300px;
    height: 300px;
    background-color: rgba(226, 224, 224, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.themeChangerButtonsContainer{
    display: flex;
    height: 62px;
    width: 134px;
    border-radius: 143px;
    background-color: rgba(255, 255, 255, 1);
}

.lightMode{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(0, 41, 255, 1);
    border: none;
    margin: 6px 33px 6px 8px;
    cursor: pointer;
}

.lightModeSvg{
    margin: 13px;
}

.darkMode{
    display: contents;
}

.darkModeSvg{
    margin: 19px 20px 19px 0px;
}
